extend base
block content
  .main-item_useraccount
    .title
      h2 YOUR ACCOUNT SETTINGS
    .account_form
      form.profile_form(action='#' method='post')
        .profile-img
          img(src='/img/ppic.jpg' alt)
          input#p-img(type='file')
        .algo-input-div
          input#fname(name='firstname' type='text')
          label(for='fname') Firstname
        .algo-input-div
          input#lname(name='lastname' type='text')
          label(for='lname') Lastname
        .algo-input-div
          input#email(name='email' type='email')
          label(for='email') Email Address
        .algo-input-div
          input#phone(name='phone' type='text')
          label(for='phone') Phone Number
        .algo-input-div
          select#gender(name='gender')
            option(value='male') Male
            option(value='female') Female
          label(for='gender') Gender
        .submit-div
          input(type='submit' value='UPDATE SETTINGS')
      .simple-line
      p PASSWORD CHANGE
      form.password_form(action='#')
        #password.algo-input-div
          label(for='password') Current Password
          input#password(name='currentpassword' type='password')
        #password.algo-input-div
          label(for='password') New Password
          input#password(name='newpassword' type='password')
        .algo-input-div
          label(for='passwordConfirm') Password Confirm
          input#passwordConfirm(name='passwordConform' type='password')
        .submit-div
          input(type='submit' value='CHANGE PASSWORD')
