extends base
append css 
    link(rel='stylesheet', href='/css/card.css')
block content
    .user-course
        h2 Your Current Courses
        if currentUser.course
            each course in currentUser.course 
                p= `${course.course}`
        else 
            p You don't have any Course yet!
    .available-div
        h2 Available Course
    .card-container
        each course in allCourse
            .card
                .card-side.front
                    .img
                    p.title= `${course.title}`
                    .course-about
                        p Takes 3 Months
                        .line
                        p Great Resourse
                        .line
                        p Phisical and Online Class
                    .instructor
                        svg.w-6.h-6(fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z')
                        p.inst by University Lecturer
                .card-side.back
                    p.price Only
                    p.birr
                        | 1000 
                        span ETB
                    a.enrol(href='#') Enrol Now !
                    a.beinst(href='#') Be Instructor