meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width,initial-scale=1')
link(rel='stylesheet' href='/css/single.css')
title single
section.navigation
    if user
    - console.log('hi there for check')
    a(href='http://localhost:3000/my/studyspace') studyspace
    a(href) log out
else 
    a(href='http://localhost:3000/login') Log in
    a(href='http://localhost:3000/signup') Sign up
