@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

body.dark {
  background-color: #495057;
  font-family: "Inter", sans-serif;
}
body.dark .side-bar {
  background-color: #6c757d !important;
}
body.dark .side-bar a:hover span,
body.dark .side-bar a:active span {
  color: #212529 !important;
}
body.dark .side-bar a:hover svg,
body.dark .side-bar a:active svg {
  stroke: #212529 !important;
}
body.dark .side-bar span {
  color: #ced6e4;
}
body.dark .side-bar svg {
  stroke: #ced6e4 !important;
}
body.dark .profile p {
  color: #ced6e4 !important;
}
body.dark .colors p {
  color: #ced6e4;
}

.container-all {
  display: grid;
  grid-template-columns: 24rem 1fr;
  gap: 1rem;
  transition: all 0.8s;
}
.container-all .side-bar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f5f6;
}
.container-all .side-bar .logo {
  color: #292a2c;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem 0;
}
.container-all .side-bar .logo .logo-icon {
  width: 5rem;
  height: 5rem;
  fill: #343a40;
}
.container-all .side-bar .logo h2 {
  font-size: 3rem;
}
.container-all .side-bar .logo h2 span {
  color: #1c7ed6;
}
.container-all .side-bar .space-nav .space-ul {
  display: flex;
  flex-direction: column;
}
.container-all .side-bar .space-nav .space-ul li {
  list-style: none;
}
.container-all .side-bar .space-nav .space-ul li:nth-child(3) {
  margin-bottom: 1.5rem;
}
.container-all .side-bar .space-nav .space-ul li a:link,
.container-all .side-bar .space-nav .space-ul li a:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.8rem 0 0.8rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #858585;
}
.container-all .side-bar .space-nav .space-ul li a:link svg,
.container-all .side-bar .space-nav .space-ul li a:visited svg {
  width: 3rem;
  height: 3rem;
  stroke: #858585;
}
.container-all .side-bar .space-nav .space-ul li a:link span,
.container-all .side-bar .space-nav .space-ul li a:visited span {
  padding-left: 2rem;
}
.container-all .side-bar .space-nav .space-ul li a:hover,
.container-all .side-bar .space-nav .space-ul li a:active {
  background-color: #dee2e6;
  color: #343a40;
  border-radius: 2rem;
}
.container-all .side-bar .space-nav .space-ul li a:hover svg,
.container-all .side-bar .space-nav .space-ul li a:active svg {
  stroke: #212529;
}
.container-all .side-bar .space-nav .space-ul::after {
  content: "";
  border: 0.1px solid #c2c2c2;
  width: 60%;
  display: block;
  margin: 0 auto;
}
.container-all .side-bar .space-nav .set-ul li:nth-child(1) {
  margin-top: 1.5rem;
}
.container-all .side-bar .space-nav .set-ul li:nth-child(2) {
  margin-bottom: 1.5rem;
}
.container-all .side-bar .space-nav .set-ul li a:link,
.container-all .side-bar .space-nav .set-ul li a:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.8rem 0 0.8rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #858585;
}
.container-all .side-bar .space-nav .set-ul li a:link svg,
.container-all .side-bar .space-nav .set-ul li a:visited svg {
  width: 3rem;
  height: 3rem;
  stroke: #858585;
}
.container-all .side-bar .space-nav .set-ul li a:link span,
.container-all .side-bar .space-nav .set-ul li a:visited span {
  padding-left: 2rem;
}
.container-all .side-bar .space-nav .set-ul li a:hover,
.container-all .side-bar .space-nav .set-ul li a:active {
  background-color: #dee2e6;
  color: #343a40;
  border-radius: 2rem;
}
.container-all .side-bar .space-nav .set-ul li a:hover svg,
.container-all .side-bar .space-nav .set-ul li a:active svg {
  stroke: #212529;
}
.container-all .side-bar .profile {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.container-all .side-bar .profile img {
  transition: all 0.8s;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #343a40;
}
.container-all .side-bar .profile img:hover {
  transform: scale(2.5);
}
.container-all .side-bar .profile .name {
  font-size: 1.4rem;
}
.container-all .side-bar .profile .role {
  font-size: 1.2rem;
}
.container-all .side-bar .profile a:link,
.container-all .side-bar .profile a:visited {
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: all 0.8s;
  background-color: #343a40;
}
.container-all .side-bar .profile a:hover,
.container-all .side-bar .profile a:active {
  background-color: white;
  color: #212529;
  outline: 1px solid rgb(121, 35, 4);
}
.container-all .side-bar .colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
}
.container-all .side-bar .colors p {
  font-size: 1.4rem;
  font-weight: 500;
}
.container-all .side-bar .colors .color-box svg {
  width: 3.5rem;
  height: 3.5rem;
}
.container-all .main {
  transition: all 0.8s;
}

@media screen and (max-width: 800px) {
  .container-all {
    display: grid;
    grid-template-columns: 7rem 1fr;
  }
  .container-all .side-bar .logo {
    display: flex;
    flex-direction: column;
  }
  .container-all .side-bar .logo svg {
    fill: #343a40 !important;
  }
  .container-all .side-bar .logo h2 {
    color: #1c7ed6;
  }
  .container-all .side-bar .logo h2 span {
    display: none;
  }
  .container-all .side-bar .space-nav .space-ul li a:link,
.container-all .side-bar .space-nav .space-ul li a:visited {
    padding: 0.8rem auto;
  }
  .container-all .side-bar .space-nav .space-ul li a:link span,
.container-all .side-bar .space-nav .space-ul li a:visited span {
    display: none;
  }
  .container-all .side-bar .space-nav .space-ul li a:hover,
.container-all .side-bar .space-nav .space-ul li a:active {
    border-radius: 0.5rem;
  }
  .container-all .side-bar .set-ul li a:link,
.container-all .side-bar .set-ul li a:visited {
    padding: 0.8rem auto;
  }
  .container-all .side-bar .set-ul li a:link span,
.container-all .side-bar .set-ul li a:visited span {
    display: none;
  }
  .container-all .side-bar .set-ul li a:hover,
.container-all .side-bar .set-ul li a:active {
    border-radius: 0.5rem !important;
  }
  .container-all .side-bar .profile img:hover {
    transform: scale(1.3);
  }
  .container-all .side-bar .profile .name {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */