<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="editspace.css" />
    <title>Edit Space</title>
  </head>
  <body>
    <div class="main-container">
      <div class="createspace">
        <p class="create">Create a Study Space</p>
        <form action="#">
          <div class="title">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" />
          </div>
          <div class="firstp">
            <label for="firstp">Description</label>
            <textarea name="firstp" id="firstp" cols="30" rows="10"></textarea>
          </div>
          <div class="lists">
            <label for="list">your Main 3 (three) points</label>
            <input type="text" />
            <input type="text" />
            <input type="text" />
          </div>
          <div class="secondp">
            <label for="">Last Words | meeting time | encouragements...</label>
            <textarea name="" id="" cols="40" rows="10"></textarea>
          </div>
          <div class="meeting-link">
            <label for="link">Room Link</label>
            <input id="link" type="text" name="link" />
          </div>
          <div class="submit">
            <input type="submit" value="Update Space" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
