<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="study.css" />
    <title>Welcome to | StudySpace</title>
  </head>
  <body>

      <section class="main">
        <div class="main-container">
          <div class="main-item-space">
            <h2>A New Day!</h2>
            <ul>
              <li><a href="#">Activity</a></li>
              <li><a href="#">Training land</a></li>
              
            </ul>
            <div class="content">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem expedita ipsum sint voluptatem sed nam.</p>
              <ol>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
              </ol>
              <p class="join" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident iste enim quasi voluptate dignissimos temporibus.</p>
              <a href="#">Join Class Room</a>
              <a href="#">Edit Space</a>
              <a class="delete" href="#">Destroy Space</a>
            </div>
          </div>
          <div class="createspace">
            <p class="create">Create a Study Space</p>
            <form action="#">
              <div class="title">
                <label for="title">Title</label>
                <input id="title" name="title" type="text">
  
              </div>
              <div class="firstp">
                <label for="firstp">Description</label>
                <textarea name="firstp" id="firstp" cols="30" rows="10"></textarea>
              </div>
              <div class="lists">
                <label for="list">your Main 3 (three) points</label>
                <input type="text">
                <input type="text">
                <input type="text">
              </div>
              <div class="secondp">
                <label for="">Last Words | meeting time | encouragements...</label>
                <textarea name="" id="" cols="40" rows="10"></textarea>
              </div>
              <div class="meeting-link">
                <label for="link">Room Link</label>
                <input id="link" type="text" name="link">
              </div>
              <div class="submit">

                <input type="submit" value="Create Space">
              </div>
            </form>

          </div>
        
        </div>
      </section>
     
      
    </div>

    <script src="script.js"></script>
  </body>
</html>
